# =================================================================
# Backend API
# =================================================================

NEXT_PUBLIC_API_URL=http://localhost:4000

# =================================================================
# Error Tracking Configuration (Sentry)
# =================================================================

NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SENTRY_ORG=
NEXT_PUBLIC_SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SENTRY_DISABLED=true

# =================================================================
# Build Configuration
# =================================================================

BUILD_STANDALONE=
